{
  "env": {
    "production" : {
      "plugins": [
        ["@babel/plugin-syntax-dynamic-import"],
        [
          "transform-react-remove-prop-types",
          { "mode": "remove", "removeImport": true, "ignoreFilenames": ["node_modules"] }
        ]
      ]
    }
  },
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "current"
      },
      "useBuiltIns": "entry",
      "corejs": 2
    }],
    "@babel/react"
  ]
}
