@import '../configuration/vars';
@import '../mixins/mixins';
.nav {
  margin-bottom: 37px;
  display: flex;
  justify-content: center;
  line-height: 0;
  text-align: center;
}
.nav__link {
  padding: 16px 14px;
  min-width: 0;
  height: 54px;
  flex-shrink: 2;
  flex-basis: 270px;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  color: #b2b2b2;
  border: 1px solid #707070;
  &:not(:last-child) {
    border-right-width: 0;
  }
  span {
    @extend %ellipsis;
  }
}
.nav__link:hover,
.nav__link-isActive {
  color: #fff;
  background: #b2b2b2;
}
