@import '../configuration/vars';
@import '../mixins/mixins';
.search-form {
  display: block;
}
.search {
  margin-bottom: 12px;
  display: flex;
}
.search__control,
.search__submit {
  height: 58px;
  background: none;
  border: 1px solid #707070;
}
.search__control {
  padding: 0 33px;
  font-size: 25px;
}
.search__control {
  width: 100%;
  &:focus {
    @include placeholder {
      color: #000;
    }
  }
  @include placeholder {
    color: #8f8f8f;
  }
}
.search__submit {
  padding: 0 26px;
  font-size: 26px;
  line-height: 0;
  color: #6f6f6f;
  border-left-width: 0;
  cursor: pointer;
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
  &:not(:disabled):hover {
    color: #fff;
    background: #b2b2b2;
  }
  i {
    display: inline-block;
    vertical-align: middle;
  }
}
